
ion-slide{
    width: 106.667px;
    background-color: lightgrey;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    line-height: 30px;
    margin:3px;
}


.seleccionado{
    background-color: green;
}


#notifications-badge {
    background-color: red;
    border-radius: 100%;
    margin: auto;
    margin-left: -30px;
}




@keyframes FadeRight {
    0% {
      opacity: 0;
      left: 200px;
    }
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  
  .FadeRight {
    animation-name: FadeRight;
    animation-duration: 1s;
  }
  