<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button autoHide="false"></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Mesa/{{mesa.nombre}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="pedidos.length == 0">No tienes pedidos cargado a esta mesa.</h2>

  <ion-list lines="none">      
    <app-card-pedido *ngFor="let pedido of pedidos" [item]="pedido" (click)="seleccionar(pedido)"></app-card-pedido>      
  </ion-list> 

</ion-content>
