<ion-header>
  <ion-toolbar>
    <ion-title  size="small">Afip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar Facturación Afip</b><br>
          
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.afip" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>    
      </ion-col>
    </ion-row>
  </ion-grid>

  
 
  <ion-item class="form-card" *ngIf="comercio.config.afip">
    Contacta a nuestro equipo y solicita una clave para poder realizar facturas válidas por Afip!
    <ion-label position="floating">Clave</ion-label>
    <ion-input name="nombre" type="text" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-toolbar *ngIf="comercio.config.afip">   
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
    <ion-button class="button-rounded" slot="end" color="success" (click)="validar()">Validar</ion-button>
  </ion-toolbar>

</ion-content>

