<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  size="small">Impresora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <p>
          <b>Habilitar impresión</b><br>
          Imprime tus comandas y facturas.
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-toggle [(ngModel)]="comercio.config.impresion" (ionChange)="update()"  [ngModelOptions]="{standalone: true}"></ion-toggle>    
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button *ngIf="impresora.address == '' && comercio.config.impresion" class="button-rounded" color="primary" (click)="agregarImpresora()">Agregar Impresora Bluetooth</ion-button>

  <span *ngIf="comercio.config.impresion && impresora.address!=''">
    <ion-item-sliding class="item-card fivePhasesFadeOut FadeIn"> 
      <app-item-bluetooth-printer
        [item] = "impresora"
        (seleccionar) = "seleccionar(impresora)"
      ></app-item-bluetooth-printer>
      <ion-item-options side="end" (click)="eliminar()">
        <ion-item-option color="danger"><ion-icon name="trash" ></ion-icon>Eliminar</ion-item-option>
      </ion-item-options>  
    </ion-item-sliding>
    <ion-button class="button-rounded" color="primary" (click)="conectar()">Probar impresión</ion-button> 
  </span>
    


  
</ion-content>
